{{ include "validate.requiredValues" . }}
{{ $metricsPort := include "validate.metricsPort" . }}
{{ include "validate.imagePullPolicy" . }}
{{ include "validate.imagePullSecrets" . }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-local-storage-exporter-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-local-storage-exporter
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-local-storage-exporter
    spec:
      serviceAccountName: {{ .Release.Name }}-local-storage-exporter-serviceaccount
      containers:
        - name: {{ .Release.Name }}-local-storage-exporter
          image: local-storage-exporter:{{ .Values.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{ if .Values.imagePullSecrets }}
          imagePullSecrets:
          {{ range .Values.imagePullSecrets }}
            - name: {{ .name }}
          {{ end }}
          {{ end }}
          volumeMounts:
            - name: node-data
              mountPath: /volumes # Where it appears in container
              readOnly: true
          ports:
            - containerPort: {{ $metricsPort }}
              name: metrics
          env:
            - name: STORAGE_CLASS_NAME
              value: {{ .Values.storageClassName }}
            - name: METRICS_PORT
              value: {{ quote $metricsPort }}
      volumes:
        - name: node-data
          hostPath:
            path: {{ .Values.storagePath }}
            type: Directory # Ensures directory exists